<ion-view view-title="Actors">
  <ion-content>
    <div class="list card">

      <div class="item" ui-sref="app.celebprofile">
        <div class="row">
          <div class="col-1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Damon_cropped.jpg" style="width: 75px; height: 75px; border-radius: 10px; border: .2em solid white; margin-bottom: 2%;">
          </div>
          <div class="col">  
            <h2>Matt Damon</h2>
            <p>Actor</p>
          </div>
        </div>
      </div>
    
      <a class="item item-icon-left">
        <i class="icon ion-cash balanced"></i>
        1 Active Auction
      </a>
    
    </div>
  </ion-content>
</ion-view>