<ion-view view-title="Profile">

  <ion-content class="myContent">
    
    <div class="item item-image">
      <img src="http://media.hollywood.com/images/638x425/5743320.jpg" style="height: 250px;">
    </div>
    
    <div class="label" style="margin-top: -30%; background-color: transparent; border-bottom: .1em solid #aaaaaa;">
      <div class="item item-image" style="border: none; margin-top: 0px; margin-bottom: 3%; text-align: center; background-color: transparent;">
        <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E" style="width: 150px; height: 150px; border-radius: 10px; border: .2em solid white; margin-bottom: 2%;">
        <h2>Justin Bieber</h2>
      </div>
    </div>
    
    <label class="item" style="border: none; background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
      <button class="button button-block button-positive" ng-model="subscribeButton" ng-controller="subscribeCtrl" ng-click="openModal()">
      Subscribe
      </button>
    </label>
    
    <script id="subscribe-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <button class="button-clear" style="color: #000000" ng-click="closeModal();">Cancel</button>
          <h1 class="title">Subscribe</h1>
        </ion-header-bar>
        <ion-content>
          
          <label style="text-align: center;">
            <p style="padding-left: 3%; padding-right: 3%; margin-top: 5%;">Thank you for choosing to subscribe to this celebrity! By subscribing you gain exclusive, never before seen, access to this celebrities lifestyle, hobbies, interests and much much more!</p>
          </label>
          
          <h1><strong>This needs work but too tired to figure out what to add</strong></h1>
          
          <label>
            <button class="button button-block icon-left ion-social-usd-outline button-positive" style="margin: 25% auto; width: 90%;">Subscribe Using PayPal</button>
          </label>
        </ion-content>
      </ion-modal-view>
    </script> 
    
    <h4 style="margin-left: 3%;">Currently Available:</h4>
    
    <div class="card">
      <div class="item item-divider">
        Auction
      </div>
      <div class="item item-text-wrap">
        This is where the full details of the post will go. The post description should be limited to approx 150 characters.
      </div>
      <div class="item item-divider" ng-controller="BidCtrl">
        <div class="row">
          <div class="col-2 item item-icon-left" style="margin-top: -3%; background-color: transparent;">
            <a style="text-decoration: none; color: #000000; padding: 0px;" ng-click="showPopup()">
              <i class="icon ion-cash balanced"></i>
              Bid Now
            </a>
          </div>
          <div class="col" style="text-align: right; font-size: 16px; background-color: transparent;">
            $200
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
