<ion-view view-title="Most Recent">
  <ion-content>
    
    <div class="list">
      
      <!-- Row 1 -->
      <div class="item row" style="border: none;">
        
        <div class="col">
          <a ui-sref="app.topCategory" style="text-decoration: none; color: #000000;">
            <div class="card">
              <div class="item item-image" style="height: 125px; text-align: center;">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRNaalYMaZ0M18Oqaj5wsvWFp7nqQjaNwozb6QgZtqE_sX7K583iA" style="height: 75%; width: 75%;">
                <h2 style="margin-top: 3%;">Recent Pop Singers</h2>
              </div>
            </div>
          </a>
        </div>
        
        <div class="col">
          <a style="text-decoration: none; color: #000000;">
            <div class="card">
              <div class="item item-image item-text-wrap" style="height: 125px; text-align: center;">
                
              </div>
            </div>
          </a>
        </div>
      </div>
    
    </div>
  </ion-content>
</ion-view>