<ion-view view-title="Musicians">
  <ion-content>
    <div class="list card">

      <div class="item" ui-sref="app.celebprofile">
        <div class="row">
          <div class="col-1">
            <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E" style="width: 75px; height: 75px; border-radius: 10px; border: .2em solid white; margin-bottom: 2%;">
          </div>
          <div class="col">  
            <h2>Justin Bieber</h2>
            <p>Pop Singer</p>
          </div>
        </div>
      </div>
    
      <a class="item item-icon-left" ui-sref="app.postDetails">
        <i class="icon ion-cash balanced"></i>
        1 Active Auction
      </a>
    
    </div>
  </ion-content>
</ion-view>