<ion-view view-title="Details">
  <ion-content>
    
    <div class="item" style="text-align: center; border: none; margin-top: 5%;">
      <img src="https://pbs.twimg.com/profile_images/415917193814372352/HiEKWGSW.jpeg" style="width: 150px; height: 150px; border-radius: 30px;">
    </div>
    
    <div class="list" style="margin-top: -5%;">
      <div class="item" style="border: none; margin-top: 0px; margin-bottom: 0px; text-align: center;">
        <h2>Justin Bieber</h2>
      </div>
    
      <div class="item item-body" style="margin-top: 0px;">
        <strong>Description:</strong>
        <p>
          This is where the full length details will go. In this page the user will be able to 
          see full post details and can also bid on the post. This paragraph will need to have 
          "See More" capability as we will want to limit the amount of initial text shown to about 150 characters.
        </p>
      </div>
      
      <div class="item item-body" style="border: none;">
        <strong>Current Bid:</strong>
        <div class="list">
          
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>