<ion-view view-title="Details">
  <ion-content>
    
    <div class="item item-image">
      <img src="http://media.hollywood.com/images/638x425/5743320.jpg" style="height: 250px;">
    </div>
    
    <div class="list" style="margin-top: -30%; background-color: transparent;">
      <div class="item item-image" style="border: none; margin-top: 0px; margin-bottom: 3%; text-align: center; background-color: transparent;">
        <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E" style="width: 150px; height: 150px; border-radius: 10px; border: .2em solid white; margin-bottom: 2%;" ui-sref="app.celebprofile">
        <h2>Justin Bieber</h2>
      </div>
    
      <div class="item item-body" style="margin-top: 0px;">
        <strong>Description:</strong>
        <p>
          This is where the full length details will go. In this page the user will be able to 
          see full post details and can also bid on the post. This paragraph will need to have 
          "See More" capability as we will want to limit the amount of initial text shown to about 150 characters.
        </p>
      </div>
      
      <div class="item item-body" style="border: none;">
        <strong>Current Bid:</strong>
        <div class="list" ng-controller="BidCtrl">
          <div class="row" style="width: 100%;">
            <div class="col-2 item item-icon-left" style="border: none;">
              <a style="text-decoration: none; color: #000000;" ng-click="showPopup()">
                <i class="icon ion-cash balanced"></i>
                Bid Now
              </a>
            </div>
            <div class="col" style="text-align: right; font-size: 16px; margin: auto; border: none;">
              $200
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>