<ion-view view-title="Profile">
  <ion-nav-buttons side="right">
    <a ui-sref="app.account">    
      <button class="button button-icon button-clear ion-settings" style="color: #000000;">
      </button>
    </a>
  </ion-nav-buttons>
  <ion-content class="myContent">
    
    <div class="item" style="text-align: center;">
      <img src="https://pbs.twimg.com/profile_images/578237281384841216/R3ae1n61.png" style="width: 150px; height: 150px; border-radius: 30px;">
    </div>
    
    <div class="list" name="userForm" ng-controller="ClickToEditCtrl">  
      
      <!-- Edit and Save Buttons here -->
      <div ng-hide="editorEnabled" style="margin-top: 3%; margin-bottom: 3%;">
        <button class="button button-block button-positive" ng-click="editorEnabled=!editorEnabled" style="width: 90%; margin: auto;">
          Edit
        </button>
      </div>
      <div ng-show="editorEnabled" style="margin-top: 3%; margin-bottom: 3%;">
        <button class="button button-block button-assertive" ng-click="submit(); editorEnabled=!editorEnabled" style="width: 90%; margin: auto;">
          Save
        </button>
      </div>
      
      <div class="item item-body" style="padding-top: 0px; margin-bottom: 10%;">
        
        <!-- Profile Name Section -->
        <div ng-hide="editorEnabled">
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none; border-top: none;">
            <div class="input-label" style="color: #000000;">First Name:</div>
            <input type="text" required ng-model="profileName" style="background-color: transparent;" disabled>
          </label>
        </div>
        
        <div ng-show="editorEnabled">
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none; border-top: none;">
            <div class="input-label" style="color: #000000;">First Name:</div>
            <input type="text" required ng-model="profileName" style="background-color: transparent;">
          </label>
        </div> 
                
        <!-- Profile Age Section -->
        <div ng-hide="editorEnabled">
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none;">
            <div class="input-label" style="color: #000000;">Age:</div>
            <input type="text" required ng-model="profileAge" style="background-color: transparent;" disabled>
          </label>
        </div>
        
        <div ng-show="editorEnabled">
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none;">
            <div class="input-label" style="color: #000000;">Age:</div>
            <input type="text" required ng-model="profileAge" style="background-color: transparent;">
          </label>
        </div>
        
        <!-- Profile Birthday Section -->
        <div ng-hide="editorEnabled">  
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none;">
            <div class="input-label" style="color: #000000;">Birthday:</div>
            <input type="text" required ng-model="profileBirthday" style="background-color: transparent;" disabled>
          </label>
        </div>
        
        <div ng-show="editorEnabled">  
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none;">
            <div class="input-label" style="color: #000000;">Birthday:</div>
            <input type="text" required ng-model="profileBirthday" style="background-color: transparent;">
          </label>
        </div>
        
        <!-- Profile Location Section -->
        <div ng-hide="editorEnabled">  
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none; border-bottom: none; padding-bottom: 0;">
            <div class="input-label" style="color: #000000;">Location:</div>
            <input type="text" required ng-model="profileLocation" style="background-color: transparent;" disabled>
          </label>
        </div>
        
        <div ng-show="editorEnabled">  
          <label class="item item-input" style="width: 100%; height: 50px; border-left: none; border-right: none; border-bottom: none; padding-bottom: 0;">
            <div class="input-label" style="color: #000000;">Location:</div>
            <input type="text" required ng-model="profileLocation" style="background-color: transparent;">
          </label>
        </div>
        
        <!-- Profile Gender Section -->
        <div ng-hide="editorEnabled">
          <label class="item item-input item-select" style="width: 100%; height: 50px; border-left: none; border-right: none; border-bottom: none; padding-bottom: 0;">
            <div class="input-label" style="color: #000000;">Gender:</div>
            <select  required ng-model="profileGender" style="background-color: transparent;" disabled>
              <option value="" disabled selected>Select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </label>
        </div>
        
        <div ng-show="editorEnabled">
          <label class="item item-input item-select" style="width: 100%; height: 50px; border-left: none; border-right: none; border-bottom: none; padding-bottom: 0;">
            <div class="input-label" style="color: #000000;">Gender:</div>
            <select  required ng-model="profileGender" style="background-color: transparent;">
              <option value="" disabled selected>Select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </label>
        </div>
        
        <!-- Profile Email Section -->
        <div ng-hide="editorEnabled">
          <label class="item item-input" style="width: 100%; height: 30px; border-left: none; border-right: none; border-bottom: none; padding-bottom: 0;">
            <div class="input-label" style="color: #000000;">Email:</div>
            <input type="text" required ng-model="profileEmail" style="background-color: transparent;" disabled>
          </label>
        </div>
        
        <div ng-show="editorEnabled">
          <label class="item item-input" style="width: 100%; height: 30px; border-left: none; border-right: none; border-bottom: none; padding-bottom: 0;">
            <div class="input-label" style="color: #000000;">Email:</div>
            <input type="text" required ng-model="profileEmail" style="background-color: transparent;">
          </label>
        </div>
      
      </div>
    
    </div>  
    
    <div class="list card" style="width: 100%; margin-top: -5%; margin-left: 0px; margin-right: 0px;">
      <div class="item item-divider">
        Current Bids
      </div>
      <a href="#" class="item item-text-wrap item-avatar">
        <div class="row">
          <div class="col-90">
            <img src="https://pbs.twimg.com/profile_images/415917193814372352/HiEKWGSW.jpeg" style="width: 50px; height: 50px;">
            <h2>Justin Bieber</h2>
            <p>One-on-One Video Chat</p>
          </div>
          <div class="col-10">
            <p>$200</p>
          </div>
        </div>
      </a>
    </div>
    
  </ion-content>
</ion-view>
