<ion-view view-title="">
  <ion-content>
    <ion-list>
      
	  <ion-item class="item-avatar item-icon-right" ui-sref="app.celebprofile">
        <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E">
        <h2>Justin Bieber</h2>
        <p>Pop Singer</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
	  
	  <ion-item class="item-avatar item-icon-right" ui-sref="app.celebprofile">
        <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E">
        <h2>Justin Bieber</h2>
        <p>Pop Singer</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
	  
	  <ion-item class="item-avatar item-icon-right" ui-sref="app.celebprofile">
        <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E">
        <h2>Justin Bieber</h2>
        <p>Pop Singer</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
	  
	  <ion-item class="item-avatar item-icon-right" ui-sref="app.celebprofile">
        <img src="https://scontent.fsan1-2.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/12096362_10153934774793888_1372203077918095310_n.jpg?oh=0cb2463c621e5b24cd7e67bb250144a1&oe=56FAF82E">
        <h2>Justin Bieber</h2>
        <p>Pop Singer</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>